$font-family-base: 'Montserrat', sans-serif; /* Garder uniquement Montserrat */

$font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

body {
  margin: 0;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $font-family-code;
}
