.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 1240px;
}

.navLinks {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navLinks li a {
    margin-left: 40px;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}

.navLinks li a.active {
    border-bottom: 1px solid #000000;
}