.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    max-width: 1240px;
}

.navLinks {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.navLinks a {
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}

.navLinks a.active {
    text-decoration-line: underline; 
}

@media (max-width: 768px) {
    .header {
        margin : 15px;
    }

    .header img {
        width: 145px;
    }

    .navLinks {
        gap: 20px;
    }

    .navLinks a {
        font-size: 12px;
        text-transform: uppercase;
    }
}