.collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.collapseHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
    padding-top: 10px;
    background-color: #FF6060;
    font-size: 18px;
    color: white;
    box-sizing: border-box;
}

.collapseHeader * {
    margin: 0;
}

.collapseContent {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
    background-color: #F6F6F6;
    transition: max-height 300ms ease-out, padding-top 300ms ease-out, padding-bottom 300ms ease-out;
}

.collapseContent * {
    margin: 0;
}

.collapseContent li {
    list-style-type: none;
}